<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Striped Progress bar</h4>
            <div class="progress m-t-20">
              <div
                class="progress-bar bg-primary progress-bar-striped active"
                style="height:12px;"
                role="progressbar"
                [style.width]="getPercentage1"
                >
              </div>
            </div>
            <div class="progress m-t-20">
              <div
                class="progress-bar bg-info progress-bar-striped active"
                style="height:12px;"
                role="progressbar"
                [style.width]="getPercentage2"
                >
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increase
          (outputValue)="progress1 = $event"
          [valueInitial]="progress1"
          ></app-increase>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-increase
          (outputValue)="progress2 = $event"
          [valueInitial]="progress2"
          btnClass="btn-info"
        ></app-increase>
      </div>
    </div>
  </div>
</div>
