<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Search hospital..."
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitals ({{ totalHospitals }})</h4>
        <h6 class="card-subtitle">Users registered in my application</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Picture</th>
                <th>Name</th>
                <th class="text-nowrap">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td>
                  <img src="" alt="" />
                </td>
                <td>
                  <input
                    [disabled]="editingHospital !== hospital"
                    type="text"
                    class="form-control"
                    [(ngModel)]="hospital.name"
                  />
                </td>
                <td class="text-nowrap text-center">
                  <a
                    *ngIf="editingHospital !== hospital"
                    href="#"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                    (click)="editHospital(hospital); $event.preventDefault()"
                  >
                    <i class="fa fa-edit text-inverse m-r-10"></i>
                  </a>
                  <a
                    *ngIf="editingHospital === hospital"
                    href="#"
                    data-toggle="tooltip"
                    data-original-title="Save"
                    (click)="saveHospitl(hospital); $event.preventDefault()"
                  >
                    <i class="fa fa-save text-inverse m-r-10"></i>
                  </a>
                  <a href="#" data-toggle="tooltip" data-original-title="Trash">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <button class="btn btn-secondary">Previous</button>
        &nbsp;
        <button class="btn btn-secondary">Next</button> -->
      </div>
    </div>
  </div>
</div>
