.cursor-pointer {
  cursor: pointer;
}
.img-avatar {
  max-width: 100px;
  max-height: 100px;
}

.btn-secondary {
  &:disabled {
    background: rgba(#868e96, 0.5);
    border-color: rgba(#868e96, 0.5);
    color: white;
    cursor: not-allowed;
    box-shadow: none;
  }
}
.w140 {
  width: 140px;
}
.w100 {
  width: 100px;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}
