.cursor-pointer {
  cursor: pointer;
}
.img-avatar {
  max-width: 100px;
  max-height: 100px;
}

.btn-secondary {
  &:disabled {
    background: rgba(#868e96, 0.5);
    border-color: rgba(#868e96, 0.5);
    color: white;
    cursor: not-allowed;
    box-shadow: none;
  }
}
.w140 {
  width: 140px;
}
.w100 {
  width: 100px;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}

.fast {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.background-modal {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0px;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
.hidden {
  display: none;
}
.modal-header {
  .close {
    padding: 0.5rem;
    cursor: pointer;
  }
}
